<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <title>Atomiq</title>
    </head>
    <body>
        <div class="workspace">
            {{range $columnIdx, $column := .Ws.Columns}}
            <div class="column">
                <h2>{{.Name}}</h2>
                {{range $itemIdx, $item := .WorkItems}}
                <div class="work-item-box">
                    <div class="work-item bordered-box">
                        <p>{{$item.Name}}</p>
                        {{range $.MoveDirections}}
                        <form action="/work-item/{{$item.ID}}/move" method="post">
                            <input type="hidden" name="_method" value="PATCH">
                            <input type="hidden" name="direction" value="{{.Value}}">
                            <input type="hidden" name="revision" value="{{$.Ws.Revision}}">
                            <button type="submit" class="arrow arrow-{{.Value}}" aria-label="Move {{.Value}}">{{.Symbol}}</button>
                        </form>
                        {{end}}
                    </div>
                    <form action="/work-item/{{$item.ID}}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="revision" value="{{$.Ws.Revision}}">
                        <button type="submit" class="error bordered-box">X</button>
                    </form>
                </div>
                {{end}}
                <div class="addWorkItem">
                    <form action="/work-item" method="post">
                        <input type="hidden" name="columnIdx" value="{{$columnIdx}}">
                        <input type="hidden" name="revision" value="{{$.Ws.Revision}}">
                        <input type="text" name="name" class="bordered-box" required minlength="1" placeholder="add new item"
                            oninvalid="this.setCustomValidity('work item must not be blank')"
                            oninput="this.setCustomValidity('')"
                            >
                        <button type="submit" class="bordered-box">+</button>
                    </form>
                </div>
                {{if and $.ColumnErr (eq $.ColumnErr.Idx $columnIdx)}}
                <div class="error">
                    <span>{{$.ColumnErr.Msg}}</span>
                </div>
                {{end}}
            </div>
            {{end}}
        </div>
    </body>
</html>
