<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Atomiq</title>
</head>
<body>
    <div class="workspace">
        {{range $index, $column := .Ws.Columns}}
        <div class="column">
            <h2>{{.Name}}</h2>
            {{range .WorkItems}}
            <div class="work-item-box">
                <div class="work-item">
                    <p>{{.Name}}</p>
                </div>
                <form action="/work-item/{{.ID}}" method="post">
                    <input type="hidden" name="columnIdx" value={{$index}}>
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="error">X</button>
                </form>
            </div>
            {{end}}
            <div class="addWorkItem">
                <form action="/work-item" method="post">
                    <input type="hidden" name="columnIdx" value={{$index}}>
                    <input type="text" name="name" id="name" required minlength={1} placeholder="add new work item"
                        oninvalid="this.setCustomValidity('work item must not be empty')"
                        oninput="this.setCustomValidity('')"
                    >
                    <button type="submit">+</button>
                </form>
            </div>
            {{if and $.ColumnErr (eq $.ColumnErr.Idx $index)}}
            <div class="error">
                <span>{{$.ColumnErr.Msg}}</span>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
</body>
</html>
